<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: header('Blog')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>

    <!-- navigation -->
    <nav th:replace="_fragments :: nav(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>
    
    <!-- content -->
    <div id="content" class="m-container-small m-padding-tb-big typo typo-selection animate__animated animate__fadeIn">
        <div class="ui container ">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                        <div class="content">
                            <a href="#" class="header">Jiaming</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i> 2017-10-01
                    </div>
                    
                    <div class="item">
                        <i class="eye icon"></i> 1024
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <img src="https://picsum.photos/seed/234/400/200" alt="" class="ui fluid image rounded">                
            </div>
            <div class="ui attached segment basic padded m-padding-rl-responsive">
                <div class="ui right aligned basic segment ">
                    <div class="ui orange label basic ">Origial</div>
                </div>
                
            
                <h2 class="ui center aligned header">Bala Bala </h2>
                <div id="content" class="left aligned js-toc-content">
                    <code class="language-css">p { color: red }</code>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                        Ipsum.</p>
                      <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </blockquote>
                      
                      <h3 id="h3-1">The standard Lorem Ipsum passage, used since the 1500s</h3>
                      
                      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                      
                      <h3 id="h3-2">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h3>
                      
                      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
                        ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                        consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                      
                      <h3 id="h3-3">List style in action</h3>
                      <ul>
                        <li>If you wish to succeed, you should use persistence as your good friend, experience as your reference, prudence as
                          your brother and hope as your sentry.
                          <p>如果你希望成功，当以恒心为良友，以经验为参谋，以谨慎为兄弟，以希望为哨兵。</p>
                        </li>
                        <li>Sometimes one pays most for the things one gets for nothing.
                          <p>有时候一个人为不花钱得到的东西付出的代价最高。</p>
                        </li>
                        <li>Only those who have the patience to do simple things perfectly ever acquire the skill to do difficult things
                          easily.
                          <p>只有有耐心圆满完成简单工作的人，才能够轻而易举的完成困难的事。</p>
                        </li>
                      </ul>
                </div>

                <!-- label -->

                <div>
                    <div class="ui basic teal left pointing label">
                        Python
                    </div>
                </div>

                <!-- Donnate -->
                <div class="ui center aligned segment basic">
                    <button id="payButton" class="ui orange basic button circular">Donate</button>
                </div>
                <div class="ui payQR flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                            
                                <img th:src="@{images/wechat_qrcode.jpg}" alt="" class="rounded bordered iamge", style="width: 120px;">
                                <div>We Pay</div>
                            </div>
                            <div class="image">
                                <img th:src="@{images/wechat_qrcode.jpg}" alt="" class="rounded bordered iamge", style="width: 120px;">
                                <div>Ali Pay</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            

            <div class="ui attached positive message">
                <div class="ui grid middle aligned">
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>Author: Jiaming</li>
                            <li>Release Time: 3-11-2021</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img th:src="@{images/wechat_qrcode.jpg}" alt="" class="ui iamge rounded right floated bordered" style="width: 110px;">
                    </div>
                </div>               
            </div>

            <div class="ui attached segment">
                <div class="ui segment teal">
                    <div class="ui comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                        <a class="avatar">
                            <img src="https://picsum.photos/seed/666/100/100">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                            How artistic!
                            </div>
                            <div class="actions">
                            <a class="reply">Reply</a>
                            </div>
                        </div>
                        </div>
                        <div class="comment">
                        <a class="avatar">
                            <img src="https://picsum.photos/seed/666/100/100">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                            <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/seed/666/100/100">
                            </a>
                            <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                Elliot you are always so right :)
                                </div>
                                <div class="actions">
                                <a class="reply">Reply</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="comment">
                        <a class="avatar">
                            <img src="https://picsum.photos/seed/666/100/100">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                            <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                            Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                            <a class="reply">Reply</a>
                            </div>
                        </div>
                        </div>
                        <div class="ui form">
                            <div class="fields">
                                <textarea name="content" placeholder="Please add comments" cols="30" rows="10"></textarea>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <div class="ui input left icon">
                                        <i class="user icon"></i>
                                        <input type="text" name="nikename" placeholder="Name">
                                    </div>
                                    
                                </div>
                                <div class="field">
                                    <div class="ui input left icon">
                                        <i class="mail icon"></i>
                                        <input type="text" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="field">
                                    <button class="ui button teal"><i class="edit icon"></i>Submit</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- tools bar -->
    <div id="toolbar" class="m-padded-tb m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons">
            <button type="button" class="ui toc teal button">ToC</button>
            <a href="#conment_container" class="ui teal button">Comment</a>
            <button class="ui wechat icon button"> <i class="weixin icon"></i></button>
            <div id="to-top-button" href="#" class="ui button"><i class="chevron up icon"></i></div>
    
        </div>
    </div>
    <div  id="qrcode" class="ui wechat-qr flowing popup transition hidden">
        <!-- <img src="./static/images/wechat_qrcode.jpg" alt="" class="ui rounded image" style="width: 500px !important;"> -->
    </div>
    <!-- TOC -->


    <div class="ui flowing toc-container popup transition hidden" style="width: 250px !important;">
        <ol class="js-toc"></ol>
    </div>



    <!-- footer -->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
    
    <div th:replace="_fragments :: scripts"></div>

    

    <script>

        var qrcode = new QRCode("qrcode", {
            text: "http://jindo.dev.naver.com/collie",
            width: 80,
            height: 80,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });

        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
          });

        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide')
        });

        $('#payButton').popup({
            popup : $('.payQR.popup'),
            on : 'click',
            position : 'bottom center'
        });

        $('.toc.button').popup({
            popup : $('.toc-container.popup'),
            on : 'click',
            position : 'left center'
        });
        
        $('.wechat').popup({
            popup: $('.wechat-qr'),
            position: 'left center'
        });

        $('#to-top-button').click(function () {
            $(window).scrollTo(0, 1000);
        });

        var waypoint = new Waypoint({
            element: document.getElementById('content'),
            handler: function(direction) {
                if (direction == 'down'){
                    $('#toolbar').show(500);
                }
                else{
                    $('#toolbar').hide(500);
                }
            }
          })

    </script>
</body>
</html>