<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: header('Types')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Types</title>
</head>
<body>

    <!-- navigation -->
    <nav th:replace="_fragments :: nav(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>
    
    <!-- content -->
    <div>
        <div class="ui container m-padded-tb-large">
            <div class="ui top segment attached">
                <div class="ui two column grid middle">
                    <div class="column">
                        <h3 class="ui teal header">Categories</h3>
                    </div>
                    <div class="right aligned column">
                        Total <h2 class="ui orange header m-inline-blok">14</h2> Blogs
                    </div>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button">Python</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="#" class="ui basic teal button ">C++</a>
                    <div class="ui basic teal left pointing label">24</div>
                </div>
            </div>

            <div class="ui top attached segment teal">
                <div class="ui segment padded m-padded-tb-big vertical">
                    <div class="ui grid stackable mobile reversed">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">Do you know what is ....</h3>
                            <p>balalv al jldag jdosjog nindig ninisd ninog gnissnogn onosnd nogn </p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Jiaming</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        
                                        <div class="item">
                                            <i class="eye icon"></i> 1024
                                        </div>
                                    </div>

                                </div>
                                <div class="five wide column">
                                    <a href="#" target='_blank' class="ui label teal basic m-padded-padding-mini">Haha</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/237/800/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segment padded m-padded-tb-big vertical">
                    <div class="ui grid stackable mobile reversed">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">Do you know what is ....</h3>
                            <p>balalv al jldag jdosjog nindig ninisd ninog gnissnogn onosnd nogn </p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Jiaming</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        
                                        <div class="item">
                                            <i class="eye icon"></i> 1024
                                        </div>
                                    </div>

                                </div>
                                <div class="five wide column">
                                    <a href="#" target='_blank' class="ui label teal basic m-padded-padding-mini">Haha</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/237/800/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segment padded m-padded-tb-big vertical">
                    <div class="ui grid stackable mobile reversed">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">Do you know what is ....</h3>
                            <p>balalv al jldag jdosjog nindig ninisd ninog gnissnogn onosnd nogn </p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Jiaming</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        
                                        <div class="item">
                                            <i class="eye icon"></i> 1024
                                        </div>
                                    </div>

                                </div>
                                <div class="five wide column">
                                    <a href="#" target='_blank' class="ui label teal basic m-padded-padding-mini">Haha</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/237/800/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segment padded m-padded-tb-big vertical">
                    <div class="ui grid stackable mobile reversed">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">Do you know what is ....</h3>
                            <p>balalv al jldag jdosjog nindig ninisd ninog gnissnogn onosnd nogn </p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Jiaming</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        
                                        <div class="item">
                                            <i class="eye icon"></i> 1024
                                        </div>
                                    </div>

                                </div>
                                <div class="five wide column">
                                    <a href="#" target='_blank' class="ui label teal basic m-padded-padding-mini">Haha</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/237/800/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segment padded m-padded-tb-big vertical">
                    <div class="ui grid stackable mobile reversed">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">Do you know what is ....</h3>
                            <p>balalv al jldag jdosjog nindig ninisd ninog gnissnogn onosnd nogn </p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/237/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Jiaming</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2017-10-01
                                        </div>
                                        
                                        <div class="item">
                                            <i class="eye icon"></i> 1024
                                        </div>
                                    </div>

                                </div>
                                <div class="five wide column">
                                    <a href="#" target='_blank' class="ui label teal basic m-padded-padding-mini">Haha</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/237/800/400" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="ui attached segment bottom ">
                <div class="ui two column grid middle">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">Prev</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">Next</a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <!-- footer -->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
    
    <div th:replace="_fragments :: scripts"></div>

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide')
        });


    </script>
</body>
</html>